@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Monoton&family=Open+Sans:wght@500&family=Oswald&family=Space+Mono&display=swap');

.sidebar {
  margin: 0;
  padding: 0;
  border-left: 0;
  width: 25%;
  background-color: #19283d;
  height: 100vh;
  overflow: auto;
  border-right: 5px solid #04aa6d;
}

.heading{
  color:#04AA6D;
  display:inline-block;
  margin-left:1rem;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  color:white;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.fa{
  padding:8px;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.layout{
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
 }
.searchbar{
  background-color:#112035;
  width:100%;
  padding: 10px;
  height:20vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.searchbar input {
  width:100%;
  height:3rem;
  border-radius: 20px;
  background: white url(/public/images/Search.png) right no-repeat;
  background-size: 3rem 3rem;
  padding: 0 1rem 0 1rem;
  box-shadow: 5px 10px #888888;
}


.cards{
  background-color:#112035;
  width: 100%;
  height:50vh;
  padding: 10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container{
  width:100%;
  
 }
.cardlist{
  width:100%;
  height:5vh; 
  margin-right:1rem;
  border-radius: 1.2rem;
  box-shadow: 2px 2px #888888;  
  display:flex;
  justify-content: space-between;
}
.listcontent{
color:white;
width:20%;
text-align: center;
  
}
.listcontainer{
  width:20%;
  display:flex;
}
.listimg{
  width:2rem;
  height:2rem;
  border-radius: 50%;
}
.controller{
  width:100%;
  background-color:#112035;
 text-align: center;
  height:30vh;
  color:white;
  padding:10px;
 
}


